[submodule "excons"]
	path = excons
	url = https://github.com/gatgui/excons.git
[submodule "cvwrap"]
	path = cvwrap
	url = https://github.com/miquelcampos/cvwrap.git
[submodule "Qtdotpy"]
	path = Qtdotpy
	url = https://github.com/mottosso/Qt.py
