[submodule "excons"]
	path = excons
	url = https://github.com/mgear-dev/excons.git
[submodule "cvwrap"]
	path = cvwrap
	url = https://github.com/miquelcampos/cvwrap.git
[submodule "Qtdotpy"]
	path = Qtdotpy
	url = https://github.com/mottosso/Qt.py
[submodule "mgear_solvers"]
	path = mgear_solvers
	url = git@github.com:mgear-dev/mgear_solvers.git
[submodule "grim_IK"]
	path = grim_IK
	url = git@github.com:mgear-dev/grim_IK.git
[submodule "maya-math-nodes"]
	path = maya-math-nodes
	url = git@github.com:mgear-dev/maya-math-nodes.git
